<div class=" grid grid-cols-12 gap-2 h-full text-center">

  <div class="col-span-4 border-4 p-4 border-white">
    <div class="grid grid-rows-2 text-center mt-4">
      <div>
        <label class="text-white">Distância Mín: </label>
        <input
          class="w-16 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>
      <button class="mx-auto mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
        Aviões próximos ao Aeroporto
      </button>
    </div>
  </div>

  <div class="col-span-4 border-4 p-4 border-white">
    <div class="grid grid-rows-2 text-center mt-4">
      <div>
        <label class="text-white">Distância Mín: </label>
        <input
          class="w-16 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>
      <button class="mx-auto mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
        Aviões Próximos
      </button>
    </div>
  </div>

  <div class="col-span-4 border-4 p-4 border-white">
    <div class="grid grid-rows-2 text-center mt-4">
      <div>
        <label class="text-white">Tempo Mín.: </label>
        <input
          class="w-16 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>
      <button class="mx-auto mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
        Em rota de colisão
      </button>
    </div>
  </div>

</div>
