<div class="p-2 grid grid-cols-2 gap-2  text-center">

  <div class="border-solid border-4 rounded-md col-span-1 p-1">
    <div class="p-2 grid grid-cols-2 gap-2  text-left">
      <div class="ml-4">
        <label class="text-white">X: </label>
        <input
          class=" w-8/12  shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>

      <div class="">
        <label class="text-white">Y: </label>
        <input
          class=" w-8/12 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>
      <div class="col-span-2">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
          Transladar
        </button>
      </div>
    </div>
  </div>

  <div class="border-solid border-4 rounded-md col-span-1 p-1">
    <div class="p-2 grid grid-cols-2 gap-2  text-left">
      <div class="ml-4">
        <label class="text-white">X: </label>
        <input
          class=" w-8/12 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>

      <div class="">
        <label class="text-white">Y: </label>
        <input
          class=" w-8/12  shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>
      <div class="col-span-2">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
          Escalonar
        </button>
      </div>
    </div>
  </div>

  <div class="border-solid border-4 rounded-md col-span-2 p-1">
    <div class="p-2 grid grid-cols-2 gap-4  text-left">
      <div class="relative">
        <label class="text-white">Ângulo: </label>
        <input
          class="absolute right-0 w-16 shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
          type="number">
      </div>

      <div class="text-center">
        <label class="text-white">Centro de Rotação</label>
      </div>

      <div class="">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
          Rotacionar
        </button>
      </div>

      <div class="relative">
        <div class="grid grid-cols-2 gap-2 text-center">
          <div>
            <label class="text-white">X: </label>
            <input
              class="w-8/12  shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
              type="number">
          </div>

          <div>
            <label class="text-white">Y: </label>
            <input
              class="w-8/12  shadow appearance-none border rounded w-fulltext-gray-700 focus:outline-none focus:shadow-outline"
              type="number">
          </div>

        </div>

      </div>
    </div>
  </div>


</div>
