<div class="border-solid border-white border-4 rounded-md h-full ">
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
  <button>aswdfeqwedef</button>
</div>
