
<div class="bg-gray-900 h-screen">
  <div class="h-full p-4 ml-6 mr-6 grid grid-rows-6 grid-flow-col gap-4">
    <div class="row-span-2 col-span-6">
      <h1 class="text-white font-bold text-center text-md">Entrada de Dados</h1>
      <app-data-input></app-data-input>
    </div>
    <div class="row-span-2 col-span-6 ">
      <h1 class="text-white font-bold text-center text-md mt-6">Funções de Transformação</h1>
      <app-transformation-function></app-transformation-function>
    </div>
    <div class="row-span-1 col-span-12">
      <h1 class="text-white font-bold text-center text-md mt-8">Funções de Rastreamento</h1>
      <app-tracking-function></app-tracking-function>

    </div>

    <div class="row-span-4 col-span-6">

      <div [@pressButton]=getState() (click)="changeState()" class="w-20 h-4 bg-gray-400 mx-auto rounded-lg cursor-pointer"></div>
      <div  class="w-10 h-2 bg-gray-400 mx-auto "></div>
      <app-radar></app-radar>
    </div>
    <div class="row-span-2 col-span-6">
      <h1 class="text-white font-bold text-center text-md">DataGrid</h1>
      <app-data-grid></app-data-grid>
    </div>
    <div class="row-span-3 col-span-6">
      <h1 class="text-white font-bold text-center text-md mt-8">Relatório</h1>
      <app-report></app-report>
    </div>
  </div>
</div>


